.ContactItems iframe{
    border-radius: 20px;
     width: 600px;
     height: 500px;
}

.width{
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

/* @media(max-width:1200px){
    .ContactItems iframe{
        width: 500px;
        height: 400px;
    }





} */
@media(max-width:1024px){
    .ContactItems iframe{
        /* width: 400px;
        height: 360px !important; */
        width: 100%;
        max-width: 900px;
    }
    
}