.SectionFeatured{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}
.ImageFeatured{
    width: 350px;
}

.BG-Featured-Image{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f35525;
    border-radius: 50%;
    position: relative;
    bottom: 40px; 
    right: 50px;
}

@media (max-width:1200px){
    .SectionFeatured{
        column-gap: 20px;

    }
    
    .ImageFeatured{
        width: 250px !important;
    }
    /* .FeaturedDiv1{
        width: 250px;

    } */
    .BG-Featured-Image{
        width: 90px;
        height: 90px;

    }
    .Featured-Second-Part{
        width: 250px;
    }


}



@media (max-width:992px){
    .SectionFeatured{
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 100px;
        flex-wrap: wrap;
    
    }



    .Featured-Second-Part{
        width: max-content;
         margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }


    .ImageFeatured{
        width: 400px !important;
        margin: auto;
    }
    .FeaturedDiv1{
        width: max-content;
        margin: auto;

    }



    


}
@media (max-width:550px){
    .ImageFeatured{
        width: 280px !important;
    }
    .BG-Featured-Image{
        width: 90px;
        height: 90px;

    }
    .Featured-Second-Part{
        padding-bottom: 30px;
    }
}



